.d-flex {
    border-radius: 0.5rem;
}
p {
    margin-bottom: 0.25rem!important;
}
button {
    margin-right: 1rem;
}
hr {
    border-top: 1px solid black;
}
.style {
    border: none;
    background: none;
}