<section class="gradient-form" style="background-color: #eee;">
  <!-- Navbar Start - Project Title -->
  <nav class="navbar navbar-light bg-light">
    <div class="container-fluid justify-content-around">
      <a class="navbar-brand" href="#">
        <h3 class="me-2" height="20">
          Collections of {{listOfBooks?.author}}
        </h3>
      </a>
    </div>
    <!--sort by title alpha order-->
    <div class="flex-fill">
      <button (click)="sort()" class="float-end style">
        <span class="m-2"><b>sort</b></span>
        <i ngClass="{{sortType  ? 'fa fa-sort-asc' : 'fa fa-sort-desc'}}" style="font-size:25px;color: green;"
          aria-hidden="true"></i>
      </button>
    </div>
  </nav>
  <!--Navbar End-->
  <!--Add new book-->
  <div class="float-end mt-4">
    <button type="button" class="btn btn-primary" (click)="addBook()">
      + Books
    </button>
  </div>
  <!--Display the list Of books start-->
  <div class="container py-5 h-100 mt-5">
    <div class="row g-3">
      <div class="col col-12 col-sm-6" *ngFor="let book of listOfBooks?.books;let i = index">
        <div class="card">
          <img [src]="book.imageUrl" class="card-img-top" alt="Hollywood Sign on The Hill" loading="lazy" />
          <div class="card-body">
            <h5 class="card-title"> <a href="{{book.purchaseLink}}" data-mdb-toggle="tooltip"
                title="click to purchase the book" target="_blank">{{book.title}}</a>
            </h5>
            <div class="card-text">
              <div class="mb3">
                <p>Published In <b> {{book.PublishDate}}</b></p>
              </div>
              <hr>
              <!--CRUD operation for Update and Delete-->
              <div class="row row-cols-2 mt-3">
                <span class="col">
                  <button (click)="updateBook(book)" data-mdb-toggle="tooltip" title="Update the book"
                    style="border: none;background: none;">
                    <i class="fa far fa-edit" style="font-size:25px;"></i>
                  </button>
                </span>
                <span class="col">
                  <button (click)="deleteBook(i)" class="float-end" data-mdb-toggle="tooltip" title="Delete the book"
                    style="border: none;background: none;">
                    <i class="fa fa-trash-o" style="font-size:25px; color: red;"></i>
                  </button>
                </span>
              </div>
              <!--CRUD end-->
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--Author Details Start -->
    <div *ngIf="!loader"
      class="d-flex flex-column flex-md-row text-center text-md-start justify-content-around py-2 px-2 px-xl-5 bg-primary mt-4">
      <div class="text-white mb-3 mb-md-0">
        <h4 class="mt-1 pb-1">Author By</h4>
        <p>{{listOfBooks?.author}}</p>
        <p>{{listOfBooks?.birthday}} (DOB)</p>
        <p> @ {{listOfBooks?.birthPlace}}</p>
      </div>
    </div>
    <!--Author Details End -->
    <!--Loader to avoid empty loading image  -->

    <div class="d-flex justify-content-center" *ngIf="loader">
      <div class="spinner-grow text-primary" role="status">
        <span class="sr-only">Loading...</span>
      </div>
    </div>
    <!--Loader Ends-->
  </div>
  <!--End-->
</section>